<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mrm.codepool">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:label="Mr M Flow"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UpdateActivity" android:exported="false" />

        <service android:name=".SimulationService" android:exported="false" />

        <provider
            android:name=".UpdateFileProvider"
            android:authorities="de.mrm.codepool.updates"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>
